<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- これは最後に必ず外す -->
  <meta name=”robots” content=”noindex”>
  <title>スタートテンプレート</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css?v=1.0.0">
  <!-- アニメーション -->
  <link rel="stylesheet" href="./css/animation.css">
  <!-- アンダーライン -->
  <link rel="stylesheet" href="./css/hover_underline.css">
  <!-- ボタン -->
  <link rel="stylesheet" href="./css/hover_btn.css">
  <!-- ローディングアニメーション -->
  <link rel="stylesheet" href="./css/loading.css">
  <link rel="stylesheet" href="./css/slick.css">
  <!-- FontAwesome -->
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- GoogleFont -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;500;700;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <!----------------------------------------- 
    ローディングアニメーション
    ------------------------------------------>
  <!-- ローディング画面 -->
  <!-- <div id="loading"> -->
  <!-- ここの中を変更⬇︎ -->
  <!-- <div class="spinner"></div>
  </div> -->
  <!-- 参考サイト⬇︎ -->
  <!-- https://www.webcreatorbox.com/tech/loading-animation -->

  <div id="loading">
    <div class="in">
        <div class="image"><img src="./img/ship.png" alt="川崎学園祭"></div>
    </div>
</div>

  <!----------------------------------------- 
    ヘッダー
    ------------------------------------------>
  <div class="wrapper">
    <!-- ヘッダー -->
    <header class="hdr">
      <h1><a href="" class="logo">Piste</a></h1>
      <!-- PCメニュー -->
      <nav class="nav_pc">
        <ul>
          <li><a href="">TOP</a></li>
          <li><a href="">MENU</a></li>
          <li><a href="">ABOUT</a></li>
          <li><a href="">NEWS</a></li>
          <li><a href="">ACCESS</a></li>
        </ul>
      </nav>
      <div class="tel"><span>Tel.000-000-0000</span></div>      
    </header>
    
    <!-- ハンバーガーボタン -->
    <div class="ham_btn">
      <div class="inner">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- SPメニュー -->
    <nav class="nav_sp">
      <ul>
        <li><a href="">TOP</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">NEWS</a></li>
        <li><a href="">ACCESS</a></li>
        <li>Tel.000-000-0000</li>
      </ul>
    </nav>

    <!-- ファーストビュー -->
    <div class="fv">
      <!-- スクロールダウンボタン -->
      <!-- 参考サイト ⬇︎ -->
      <!-- https://www.nxworld.net/css-scroll-down-button.html -->
      <div class="scroll">
        <span class="animation"></span>
        <span class="text">Scroll</span>
      </div>

      <!-- ファーストビュー画像 -->
      <div class="image">
        <img src="./img/first_view.png" alt="first_view_image">
      </div>

      <!-- ファーストビュータイトル -->
      <h1 class="fv_ttl">Piste<br>French&<br>Wine</h1>

    </div>
  </div>


  <!----------------------------------------- 
    メイン
    ------------------------------------------>
  <main>
    <!----------------------------------------- 
    コンテンツ＿01
    ------------------------------------------>
    <article>
      <header></header>
      <section></section>
      <h1></h1>
      <p></p>
      <span></span>
      <a href=""></a>
      <figure>
        <img src="" alt="">
        <figcaption></figcaption>
      </figure>
    </article>


    <article class="service">
      <section class="pasta">
        <div class="pasta_cont">
          <div class="image"><img src="./img/ship.png" alt=""></div>
          <div class="inner">
            <h2>テキストテキストテキストテキストテキストテキストテキストテキストテキスト</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキスト
              テキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
        <div class="image"><img src="./img/pasta.png" alt=""></div>
      </section>
      <!-- メニュー -->
      <section class="menu text_in_07s">
        <div class="image effect_slide"><img src="./img/menu.png" alt=""></div>
        <div class="inner">
          <h1>Menu</h1>
          <p>テキストテキストテキストテキスト<br>
            テキストテキストテキストテキスト</p>
          <a href="" data-hover="Click Me!">
            <div>More</div>
          </a>
        </div>
      </section>
      <!-- アバウト -->
      <section class="about">
        <div class="image effect_slide"><img src="./img/about.png" alt=""></div>
        <div class="inner">
          <h1>About</h1>
          <p>テキストテキストテキストテキスト <br>
            テキストテキストテキストテキスト</p>
          <a href="" data-hover="Click Me!">
            <div>More</div>
          </a>
        </div>
      </section>
    </article>
    <!----------------------------------------- 
    ニュース
    ------------------------------------------>
    <article class="news">
      <h1>NEWS</h1>
      <div class="news_wrapper">
        <section>
          <a href="">
            <div class="image"><img src="./img/news_01.png" alt=""></div>
            <span>2000-00-00</span>
            <h2>テキストテキストテキ</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </a>
        </section>
        <section>
          <a href="">
            <div class="image"><img src="./img/news_02.png" alt=""></div>
            <span>2000-00-00</span>
            <h2>テキストテキストテキ</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </a>
        </section>
        <section>
          <a href="">
            <div class="image"><img src="./img/news_03.png" alt=""></div>
            <span>2000-00-00</span>
            <h2>テキストテキストテキ</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </a>
        </section>
        <section>
          <a href="">
            <div class="image"><img src="./img/news_04.jpg" alt=""></div>
            <span>2000-00-00</span>
            <h2>テキストテキストテキ</h2>
            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          </a>
        </section>
      </div>
      <a href="" class="news_link" data-hover="click me!">
        <div>More</div>
      </a>
    </article>
    <!----------------------------------------- 
    ストアガイド
    ------------------------------------------>
    <!-- Googleマップ設定方法⬇︎ -->
    <!-- https://tab-log.com/web-googlemap -->
    
    <!-- 別タブで開く際は注意が必要⬇︎ -->
    <!-- <a href="" target="_blank" rel="noopener noreferrer"></a> -->
    <article class="store_guide">
      <div class="store_guide_wrapper">
        <h1>Piste</h1>
        <div class="image"><img src="./img/store_guid.png" alt=""></div>
        <section>
          <h1>Piste</h1>
          <p>Tel.00-0000-0000</p>
          <dl>
            <div>
              <dt>住所</dt>
              <span>：</span>
              <dd>〒000-0000○○県○○市○○町1-2-3</dd>
            </div>
            <div>
              <dt>アクセス</dt>
              <span>：</span>
              <dd>JR他各線○○駅北口より徒歩約10分<br>○○町○丁目バス停徒歩約５分</dd>
            </div>
            <div>
              <dt>営業時間</dt>
              <span>：</span>
              <dd>18:00~翌1:00(L.O24:00)</dd>
            </div>
            <div>
              <dt>定休日</dt>
              <span>：</span>
              <dd>火曜日</dd>
            </div>
            <div>
              <dt>カード</dt>
              <span>：</span>
              <dd>可　(VISA.MASTER.AMEX)</dd>
            </div>
          </dl>
        </section>
      </div>
    </article>
  </main>

  <!----------------------------------------- 
    ホバー
    ------------------------------------------>
  <div class="box_underline">

    <a href="#" class="hover_underline_001">上から上から</a>
    <a href="#" class="hover_underline_002">下から下から</a>
    <a href="#" class="hover_underline_003">左から左から</a>
    <a href="#" class="hover_underline_004">右から右</a>
    <a href="#" class="hover_underline_005">左から右</a>
    <a href="#" class="hover_underline_006">右から左</a>
    <a href="#" class="hover_underline_007">中央から中央</a>
    <a href="#" class="hover_underline_008">マーカー線が左から右</a>
    <a href="#" class="hover_underline_009">真ん中線が左右に広がる</a>
  </div>

  <!----------------------------------------- 
    ボタン
    ------------------------------------------>
  <div class="box_btn">

    <!-- ボタン_001 -->
    <a href="#" class="hover_btn_001">ボタン_001</a>

    <!-- ボタン_002 -->
    <a href="#" class="hover_btn_002"><i class="fas fa-angle-right fa_position_right"></i>ボタン_002</a>

    <!-- ボタン_003 -->
    <a href="#" class="hover_btn_003"><i class="fas fa-arrow-up"></i></a>

    <!-- ボタン_004 -->
    <a href="" class="hover_btn_004">ボタン_004</a>

    <!-- ボタン_005 -->
    <a href="" class="hover_btn_005">ボタン_005</a>


    <!-- ボタン_006 -->
    <a class="hover_btn_006"><span>ボタン_006</span></a>

    <!-- ボタン_007 -->
    <div class="hover_btn_007_wrapper">
      <a href="" class="hover_btn_007">ボタン_007</a>
    </div>

    <!-- ボタン_008 -->
    <a href="" class="hover_btn_008"><i class="fa fas fa-envelope"></i>ボタン_008</a>


    <!-- ボタン_009 -->
    <div class="hover_btn_009_wrapper">
      <a href="" class="hover_btn_009">
        <i class="fas fa-cut position_top"></i>
        <span>10%OFF!</span><br>クーポンはコチラ!
        <i class="fas fa-cut position_bottom"></i>
      </a>
    </div>

    <!-- ボタン_010 -->
    <a href="" class="hover_btn_010 hover_btn_010_color">ボタン_010</a>

    <!-- ボタン_011 -->
    <a href="" class="hover_btn_011" data-hover="Click Me!">
      <div>ボタン_011</div>
    </a>

    <!-- hover_btn_012 -->
    <a href="#" class="hover_btn_012"><span>詳細はこちら</span><span>ボタン_012</span></a>

    <!-- hover_btn_013 -->
    <a href="" class="hover_btn_013">ボタン_013</a>

    <!-- hover_btn_014 -->
    <a href="" id="hover_btn_014" class="hover_btn_014">
      <button>
        <span>H</span>
        <span>o</span>
        <span>v</span>
        <span>e</span>
        <span>r</span>
        <span> </span>
        <span>T</span>
        <span>e</span>
        <span>n</span>
      </button>
    </a>

    <!-- hover_btn_015 -->
    <a href="" class="hover_btn_015">
      <p>ボタン_015</p>
      <div class="border"></div>
      <div class="border"></div>
    </a>

    <!-- hover_btn_016 -->
    <a href="" class="hover_btn_016">
      <p>ボタン_016</p>
      <div class="border"></div>
      <div class="border"></div>
      <div class="border"></div>
      <div class="border"></div>
    </a>

    <!-- hover_btn_017 -->
    <a href="" class="hover_btn_017">ボタン_017</a>

    <!-- hover_btn_018 -->
    <a href="#" class="hover_btn_018">ボタン_018</a>

    <!-- hover_btn_019 -->
    <a href="" class="hover_btn_019">ボタン_019</a>

    <!-- hover_btn_020 -->
    <a href="" class="hover_btn_020">hover_btn_020</a>

    <!-- 参考サイト -->
    <!-- https://deshinon.com/2019/03/02/simple-button-css/ -->

  </div>




  <!----------------------------------------- 
    フッター
    ------------------------------------------>
  <footer class="ftr_pc">
    <nav class="ftr_nav">
      <ul>
        <li><a href="">TOP</a></li>
        <li><a href="">MENU</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">NEWS</a></li>
        <li><a href="">ACCESS</a></li>
      </ul>
    </nav>
    <small>copyright©︎Piste</small>
  </footer>
  <!----------------------------------------- 
    ページトップボタン
    ------------------------------------------>
  <div id="page_top"><a href="#"></a></div>


  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script> -->
  <!-- slick -->
  <script src="./js/slick.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <!-- base -->
  <script src="./js/base.js"></script>


</body>

</html>