/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: calc(100% - 360px) 300px;
    gap: 60px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
.column_2_ptn_001.post_02 {
  .wrapper {
    @media (max-width: 850px) {
      padding: 0;
    }
  }
}
/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px 0;
    // max-width: 1200px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
/* ----------------------------------------------------------------------
cont_parts_y_010
---------------------------------------------------------------------- */
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cont_parts_y_010 {
  padding: 100px 0;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media(max-width:800px){
      grid-template-columns: repeat(1, 1fr);
    }
    section {
      a {
        display: block;
        position: relative;
        &:hover {
          &::before{
            content: '';
            display: block;
            width: 100%;
            height: 40%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 9;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
            animation-name: opacityAnimation;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-delay: 0;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: forwards;
            animation-play-state: running;
          }
          img{
            transform: scale(1.5);
          }
          p {
            animation-name: opacityAnimation;
          }
        }
        .image {
          position: relative;
          width: 100%;
          height: 600px;
          overflow: hidden;
          @media(max-width: 800px){
            height: 350px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: .1;
          }
          img {
            height: 600px;
            width: 100%;
            object-fit: cover;
            transition: 1s;
            @media(max-width: 800px){
              height: 350px;
            }
          }
        }
        h3 {
          padding: 0 40px;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 10;
          width: 180px;
          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          line-height: 1.4;
          font-size: 18px;
          color: #fff;
          @media(max-width: 1050px){
            width: 110px;
            height: 110px;
            padding: 0 15px;
          }
          @media(max-width: 800px){
            padding: 0 20px;
            font-size: 14px;
          }
        }
        p {
          padding: 40px 75px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          z-index: 10;
          width: 100%;
          color: #fff;
          line-height: 2.4;
          opacity: 0;
          animation-duration: 1s;
          animation-timing-function: ease;
          animation-delay: .5s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-play-state: running;
          @media(max-width: 1050px){
            padding: 25px 40px;
          }
          @media(max-width: 800px){
            font-size: 14px;
          }
        }
      }
      &:nth-of-type(1) {
        h3 {
          background: linear-gradient(to bottom, rgba(99, 0, 0, 1) 0%, rgba(99, 0, 0, 0) 100%);
        }
      }
      &:nth-of-type(2) {
        h3 {
          background: linear-gradient(to bottom, rgba(98, 76, 0, 1) 0%, rgba(98, 76, 0, 0) 100%);
        }
      }
      &:nth-of-type(3) {
        h3 {
          background: linear-gradient(to bottom, rgba(0, 47, 64, 1) 0%, rgba(0, 47, 64, 0) 100%);
        }
      }
    }
  }
}
