/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_ty_013
---------------------------------------------------------------------- */
.cont_ty_013 {
  padding: 0 24px;
  padding-top: 100px;
}

@media (max-width: 1050px) {
  .cont_ty_013 {
    padding: 100px 0 0 0;
  }
}

@media (max-width: 600px) {
  .cont_ty_013 {
    padding-top: 64px;
  }
}

.cont_ty_013 section {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.cont_ty_013 section .image {
  position: relative;
  z-index: -1;
}

.cont_ty_013 section .image img {
  max-width: calc(1000px - 440px);
  width: 100%;
  height: 360px;
  object-fit: cover;
}

@media (max-width: 1050px) {
  .cont_ty_013 section .image img {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .cont_ty_013 section .image img {
    height: 280px;
  }
}

.cont_ty_013 section .inner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 40px 16px;
  max-width: 540px;
  background: #fff;
}

@media (max-width: 1050px) {
  .cont_ty_013 section .inner {
    position: static;
    padding: 40px 24px;
    margin: 0 auto;
    margin-top: -40px;
    max-width: 88%;
  }
}

@media (max-width: 600px) {
  .cont_ty_013 section .inner {
    margin-top: -32px;
    padding: 32px 16px;
  }
}

.cont_ty_013 section .inner h2 {
  position: relative;
  margin-bottom: 40px;
  padding: 16px 0;
  line-height: 1.5;
  font-size: 32px;
}

@media (max-width: 600px) {
  .cont_ty_013 section .inner h2 {
    margin-bottom: 16px;
    padding: 8px 0;
    font-size: 24px;
  }
}

.cont_ty_013 section .inner h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16%;
  height: 2px;
  background: #333;
}

.cont_ty_013 section .inner h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16%;
  height: 2px;
  background: #333;
}

.cont_ty_013 section .inner p {
  font-size: 16px;
  line-height: 2;
}

@media (max-width: 600px) {
  .cont_ty_013 section .inner p {
    font-size: 14px;
  }
}
