/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1200px;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_ty_007
---------------------------------------------------------------------- */
.cont_ty_007 {
  padding: 0 24px;
  padding-top: 100px;
}

@media (max-width: 600px) {
  .cont_ty_007 {
    padding: 0;
    padding-top: 64px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.cont_ty_007 .cont_ty_007_wrapper section a {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
}

.cont_ty_007 .cont_ty_007_wrapper section a:hover img {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .cont_ty_007 .cont_ty_007_wrapper section a {
    margin: 0 -1px -1px 0;
    padding: 24px 16px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper section a .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cont_ty_007 .cont_ty_007_wrapper section a .image img {
  width: 100%;
  height: 240px;
  display: block;
  object-fit: cover;
  transition: .3s;
}

@media (max-width: 600px) {
  .cont_ty_007 .cont_ty_007_wrapper section a .image img {
    height: 104px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper section a .image .category {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 32px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #ef6462;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 600px) {
  .cont_ty_007 .cont_ty_007_wrapper section a .image .category {
    padding: 0 16px;
    height: 32px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper section a .outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_ty_007 .cont_ty_007_wrapper section a .outer .inner {
  padding: 0 32px 0 40px;
  width: 100%;
}

@media (max-width: 600px) {
  .cont_ty_007 .cont_ty_007_wrapper section a .outer .inner {
    padding: 0 24px 0 32px;
  }
}

@media (max-width: 500px) {
  .cont_ty_007 .cont_ty_007_wrapper section a .outer .inner {
    padding: 0 0 0 8px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper section a .outer .inner h3 {
  line-height: 1.5;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

@media (max-width: 600px) {
  .cont_ty_007 .cont_ty_007_wrapper section a .outer .inner h3 {
    font-size: 14px;
  }
}

.cont_ty_007 .cont_ty_007_wrapper section a .outer .inner span {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
  display: block;
}

.cont_ty_007 .cont_ty_007_wrapper section a .outer .inner span::before {
  margin-right: 4px;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  font-weight: 900;
}
