.fade_left {
  opacity: 0;
  transition: ease-out 0.7s;
  transform: translate(-40px, 0);
}

.fade_right {
  opacity: 0;
  transition: ease-out 0.7s;
  transform: translate(40px, 0);
}

.fade_up {
  opacity: 0;
  transition: ease-out 0.7s;
  transform: translate(0, 60px);
}

.fade_up_02 {
  opacity: 0;
  transition: ease-out 0.7s;
  transform: translate(0, 60px);
}

.fade_up_15s {
  opacity: 0;
  transition: ease-out 1.5s;
  transform: translate(0, 40px);
}

.fade_up_18s {
  opacity: 0;
  transition: ease-out 1.8s;
  transform: translate(0, 40px);
}

.fade_up_20s {
  opacity: 0;
  transition: ease-out 2s;
  transform: translate(0, 40px);
}

.isAnimate_02 {
  opacity: 1;
  transform: translate(0);
}

.text_in_07s {
  opacity: 0;
  transition: 0.7s;
  transform: translate(0, 72px);
}

.text_in_1s {
  opacity: 0;
  transition: 1s;
  transform: translate(0, 72px);
}

.text_in_2s {
  opacity: 0;
  transition: 2s;
  transform: translate(0, 72px);
}

.isAnimate {
  opacity: 1;
  transform: translate(0);
  transform: none;
}
