/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_parts_y_007
---------------------------------------------------------------------- */
.cont_parts_y_007 .conts_wrapper {
  margin: 60px auto;
  max-width: 1000px;
}

@media (max-width: 800px) {
  .cont_parts_y_007 .conts_wrapper {
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  .cont_parts_y_007 .conts_wrapper {
    padding: 0;
  }
}

.cont_parts_y_007 .conts_wrapper section a {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
}

.cont_parts_y_007 .conts_wrapper section a:hover img {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  .cont_parts_y_007 .conts_wrapper section a {
    margin: 0 -1px -1px 0;
    padding: 20px 10px;
  }
}

.cont_parts_y_007 .conts_wrapper section a .image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.cont_parts_y_007 .conts_wrapper section a .image img {
  width: 100%;
  height: 230px;
  display: block;
  object-fit: cover;
  transition: .3s;
}

@media (max-width: 600px) {
  .cont_parts_y_007 .conts_wrapper section a .image img {
    height: 105px;
  }
}

.cont_parts_y_007 .conts_wrapper section a .image .category {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0 20px;
  min-width: 130px;
  height: 40px;
  display: block;
  background: #ef6462;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
}

@media (max-width: 850px) {
  .cont_parts_y_007 .conts_wrapper section a .image .category {
    min-width: 118px;
    height: 35px;
  }
}

.cont_parts_y_007 .conts_wrapper section a .cont_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner {
  padding: 0 30px 0 40px;
  width: 100%;
}

@media (max-width: 750px) {
  .cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner {
    padding: 0 20px 0 30px;
  }
}

@media (max-width: 600px) {
  .cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner {
    padding: 0 0 0 10px;
  }
}

.cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner h3 {
  line-height: 1.8em;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

@media (max-width: 600px) {
  .cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner h3 {
    line-height: 1.4em;
    font-size: 14px;
  }
}

.cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner span {
  margin-top: 7px;
  font-size: 12px;
  color: #999;
  display: block;
}

.cont_parts_y_007 .conts_wrapper section a .cont_wrapper .inner span::before {
  margin-right: 0.2em;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  font-weight: 900;
}
