/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_ty_003
---------------------------------------------------------------------- */
.cont_ty_003 {
  padding: 0 24px;
  padding-top: 100px;
}

@media (max-width: 600px) {
  .cont_ty_003 {
    padding-top: 64px;
  }
}

.cont_ty_003 h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 1.4;
}

.cont_ty_003 span {
  font-size: 14px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin-bottom: 30px;
}

.cont_ty_003 .wrapper {
  margin: 0 auto 20px auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1050px) {
  .cont_ty_003 .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .cont_ty_003 .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cont_ty_003 .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cont_ty_003 .wrapper .cont:hover img {
  transform: scale(1.3);
}

.cont_ty_003 .wrapper .cont:hover .inner .date,
.cont_ty_003 .wrapper .cont:hover .inner h3 {
  opacity: 0.8;
}

.cont_ty_003 .wrapper .cont .image {
  overflow: hidden;
}

.cont_ty_003 .wrapper .cont .image img {
  width: 100%;
  height: 145px;
  transition: 0.6s;
  object-fit: cover;
}

.cont_ty_003 .wrapper .cont .image img::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.cont_ty_003 .wrapper .cont .inner {
  padding: 24px;
  background: #ebebe2;
}

.cont_ty_003 .wrapper .cont .inner .date {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.42857;
  margin-bottom: 5px;
  color: #333;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.cont_ty_003 .wrapper .cont .inner h3 {
  letter-spacing: 0.08em;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.55556;
  color: #333;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.cont_ty_003 .btn {
  text-align: center;
}

.cont_ty_003 .btn a {
  padding: 5px 20px 4px;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cont_ty_003 .btn a:hover {
  background: #fff;
  color: #000;
}
