/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_ty_008
---------------------------------------------------------------------- */
.cont_ty_008 {
  padding: 100px 24px;
}

@media (max-width: 600px) {
  .cont_ty_008 {
    padding: 0 24px;
    padding-top: 64px;
  }
}

.cont_ty_008 .wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.cont_ty_008 .wrapper h2 {
  line-height: 1.4em;
  font-size: 36px;
  margin-bottom: 24px;
  text-align: center;
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper h2 {
    font-size: 24px;
    padding: 0 16px;
  }
}

.cont_ty_008 .wrapper p {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 32px;
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper p {
    font-size: 15px;
    padding: 0 16px;
  }
}

.cont_ty_008 .wrapper section {
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px 0;
}

@media (max-width: 900px) {
  .cont_ty_008 .wrapper section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper section {
    margin-bottom: 32px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.cont_ty_008 .wrapper section a {
  display: block;
  color: #333;
}

.cont_ty_008 .wrapper section a:hover {
  color: #1c4f73;
}

.cont_ty_008 .wrapper section a:hover img {
  transform: scale(1.2);
}

.cont_ty_008 .wrapper section a:hover .inner h3 {
  background: #3c83b1;
}

.cont_ty_008 .wrapper section a .image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cont_ty_008 .wrapper section a .image::before {
  content: "";
  padding-top: 80%;
  display: block;
}

@media (max-width: 950px) {
  .cont_ty_008 .wrapper section a .image::before {
    padding-top: 56%;
  }
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper section a .image::before {
    padding-top: 32%;
  }
}

.cont_ty_008 .wrapper section a .image img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.cont_ty_008 .wrapper section a .inner {
  margin: 0 -1px -1px 0;
  border: 1px solid #ddd;
}

.cont_ty_008 .wrapper section a .inner h3 {
  width: 100%;
  background: #78adce;
  text-align: center;
  line-height: 2;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .cont_ty_008 .wrapper section a .inner h3 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .cont_ty_008 .wrapper section a .inner h3 {
    font-size: 18px;
  }
}

.cont_ty_008 .wrapper section a .inner p {
  margin: 0;
  padding: 24px 32px;
  height: auto;
  line-height: 2;
  font-size: 16px;
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper section a .inner p {
    padding: 16px 24px;
  }
}

.cont_ty_008 .wrapper .link {
  margin: 0 auto;
  max-width: 320px;
  height: 64px;
  display: block;
  background: #78adce;
  border: 1px solid #fff;
  text-align: center;
  line-height: 64px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}

.cont_ty_008 .wrapper .link:hover {
  background: #3c83b1;
}

@media (max-width: 600px) {
  .cont_ty_008 .wrapper .link {
    max-width: 240px;
    height: 56px;
    line-height: 56px;
    font-size: 14px;
  }
}
