/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_parts_y_008
---------------------------------------------------------------------- */
.cont_parts_y_008 .wrapper {
  margin: 0 auto;
  padding: 95px 0 150px 0;
  max-width: 1000px;
}

@media (max-width: 1250px) {
  .cont_parts_y_008 .wrapper {
    padding: 100px 50px 150px 50px;
  }
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper {
    padding: 35px 40px 40px 40px;
  }
}

@media (max-width: 500px) {
  .cont_parts_y_008 .wrapper {
    padding: 35px 30px 40px 30px;
  }
}

@media (max-width: 400px) {
  .cont_parts_y_008 .wrapper {
    padding: 35px 10px 40px 10px;
  }
}

.cont_parts_y_008 .wrapper .top {
  text-align: center;
}

.cont_parts_y_008 .wrapper .top h2 {
  line-height: 1.4em;
  font-size: 36px;
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .top h2 {
    font-size: 24px;
  }
}

.cont_parts_y_008 .wrapper .top .text {
  margin: 20px 0 0 0;
  font-size: 16px;
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .top .text {
    font-size: 15px;
  }
}

.cont_parts_y_008 .wrapper .top .text p {
  line-height: 2.4em;
}

.cont_parts_y_008 .wrapper .conts {
  margin: 90px 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px 0;
}

@media (max-width: 950px) {
  .cont_parts_y_008 .wrapper .conts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .conts {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cont_parts_y_008 .wrapper .conts a {
  color: #000;
}

.cont_parts_y_008 .wrapper .conts a:hover {
  color: #1c4f73;
}

.cont_parts_y_008 .wrapper .conts a:hover img {
  transform: scale(1.2);
}

.cont_parts_y_008 .wrapper .conts a:hover .inner h3 {
  background: #3c83b1;
}

.cont_parts_y_008 .wrapper .conts a .image {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.cont_parts_y_008 .wrapper .conts a .image::before {
  content: "";
  padding-top: 80%;
  display: block;
}

@media (max-width: 950px) {
  .cont_parts_y_008 .wrapper .conts a .image::before {
    padding-top: 50%;
  }
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .conts a .image::before {
    padding-top: 28%;
  }
}

.cont_parts_y_008 .wrapper .conts a .image img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.cont_parts_y_008 .wrapper .conts a .inner {
  margin: 0 -1px -1px 0;
  border: 1px solid #ddd;
}

.cont_parts_y_008 .wrapper .conts a .inner h3 {
  width: 100%;
  background: #78adce;
  text-align: center;
  line-height: 2.6em;
  font-size: 22px;
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .cont_parts_y_008 .wrapper .conts a .inner h3 {
    line-height: 2.2em;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .cont_parts_y_008 .wrapper .conts a .inner h3 {
    line-height: 1.8em;
    font-size: 18px;
  }
}

.cont_parts_y_008 .wrapper .conts a .inner p {
  padding: 20px 30px;
  height: auto;
  line-height: 2em;
  font-size: 16px;
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .conts a .inner p {
    padding: 10px 20px;
  }
}

.cont_parts_y_008 .wrapper .link {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .link {
    margin: 40px 0 0 0;
  }
}

.cont_parts_y_008 .wrapper .link a {
  padding: 0 20px;
  min-width: 270px;
  height: 60px;
  display: inline-block;
  background: #78adce;
  border: 1px solid #fff;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
}

.cont_parts_y_008 .wrapper .link a:hover {
  background: #3c83b1;
}

@media (max-width: 600px) {
  .cont_parts_y_008 .wrapper .link a {
    min-width: 200px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
  }
}
