/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
news_ty_001
---------------------------------------------------------------------- */
.news_ty_001 {
  padding: 100px 40px;
  color: #222;
  background: #f1f2f6;
}

@media (max-width: 750px) {
  .news_ty_001 {
    padding: 100px 24px;
  }
}

.news_ty_001 section {
  max-width: 1200px;
  margin: 0 auto;
}

.news_ty_001 section h2 {
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 550px) {
  .news_ty_001 section h2 {
    font-size: 32px;
  }
}

.news_ty_001 section span {
  font-size: 16px;
  text-align: center;
  display: block;
}

@media (max-width: 550px) {
  .news_ty_001 section span {
    font-size: 12px;
  }
}

.news_ty_001 section .tab_area {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.news_ty_001 section .tab_area .tab {
  cursor: pointer;
  margin: 0 24px;
  text-align: center;
  position: relative;
  display: inline-block;
}

@media (max-width: 550px) {
  .news_ty_001 section .tab_area .tab {
    margin: 0 16px;
    font-size: 12px;
  }
}

.news_ty_001 section .tab_area .tab::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

.news_ty_001 section .tab_area .tab:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.news_ty_001 section .tab_area .tab.active {
  padding-bottom: 8px;
  color: #222e3e;
  position: relative;
}

.news_ty_001 section .tab_area .tab.active::before {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
}

.news_ty_001 section .tab_area .tab.active::after {
  transform: scale(1, 1);
}

.news_ty_001 section .news_area {
  max-width: 800px;
  margin: 0 auto;
}

.news_ty_001 section .news_area .news {
  display: none;
}

.news_ty_001 section .news_area .news a {
  display: flex;
  font-size: 16px;
  padding: 16px 0;
  margin-bottom: 8px;
}

@media (max-width: 750px) {
  .news_ty_001 section .news_area .news a {
    display: block;
  }
}

@media (max-width: 550px) {
  .news_ty_001 section .news_area .news a {
    font-size: 14px;
  }
}

.news_ty_001 section .news_area .news a .inner {
  display: flex;
}

.news_ty_001 section .news_area .news a .inner .date {
  color: #222;
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.news_ty_001 section .news_area .news a .inner .category {
  color: #00349d;
  margin-right: 24px;
  padding: 4px 16px;
  border: 1px solid #00349d;
  min-width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_ty_001 section .news_area .news a .ttl {
  display: flex;
  align-items: center;
  color: #222;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .news_ty_001 section .news_area .news a .ttl {
    margin-top: 8px;
  }
}

.news_ty_001 section .news_area .news.show {
  margin-top: 50px;
  display: block;
}
