// ===== スクロールアニメーション =====
// フェード
.effect_fade {
  opacity: 0;
  transform: translate(0, 80px); /* フェードインで動く高さを指定 */
  transition: all 2000ms; /* フェードインにかかる時間を指定 */
}
// スライド
.effect_slide {
  opacity: 0;
  transform: translate(80px, 0); /* フェードインで動く高さを指定 */
  transition: all 1000ms; /* フェードインにかかる時間を指定 */
}
.effect_scroll {
  opacity: 1;
  transform: translate(0, 0);
}

// 参考サイト ⬇︎
// https://mittaniblog.com/jquery-fadein/
// inview.js ⬇︎
// https://125naroom.com/web/3532
