.box_btn {
  display: flex;
  flex-flow: column;
  width: 500px;
  margin: 0 auto;
}

.box_btn .hover_btn_001 {
  margin: 3em 0;
  position: relative;
  padding: 1rem 4rem;
  display: inline-block;
  background: #fff100;
  text-align: center;
  border-bottom: 5px solid #ccc100;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_001:hover {
  margin-top: calc(3em + 3px);
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
  color: #000;
}

.box_btn .hover_btn_002 {
  margin: 3em 0;
  position: relative;
  padding: 1rem 4rem;
  display: inline-block;
  background: #d20010;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 5px solid #9f000c;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_002:hover {
  margin-top: calc(3em + 3px);
  border-bottom: 2px solid #9f000c;
}

.box_btn .hover_btn_002 .fa_position_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.box_btn .hover_btn_003 {
  margin: 3em auto;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  padding: 0;
  color: #000;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.box_btn .hover_btn_003 .fa-arrow-up {
  font-size: 150%;
  line-height: 60px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_003:hover .fa-arrow-up {
  line-height: 55px;
}

.box_btn .hover_btn_004 {
  margin: 3em 0;
  position: relative;
  padding: 1rem 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.box_btn .hover_btn_004:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  line-height: 2em;
  width: 2em;
  height: 2em;
  content: "\f061";
  transform: translateY(-50%);
  top: 50%;
  left: 98%;
  color: #fff;
  border-radius: 50%;
}

.box_btn .hover_btn_004::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-radius: 0 50% 50% 0;
  background: #000;
}

.box_btn .hover_btn_005 {
  margin: 3em 0;
  position: relative;
  padding: 1em 4em;
  background: #fff;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box_btn .hover_btn_005:hover {
  background: #000;
  color: #fff;
}

.box_btn .hover_btn_005:hover::before {
  background: #fff;
}

.box_btn .hover_btn_005::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_006 {
  margin: 3em 0;
  position: relative;
  padding: 1em 4em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  letter-spacing: 0.1em;
  color: #212529;
  border: 3px solid #000;
  border-radius: 0;
  background: #fff;
}

.box_btn .hover_btn_006:hover:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box_btn .hover_btn_006::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 1px solid #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_007_wrapper {
  margin: 3em 0;
  padding: 30px;
  background: #eae83a;
}

.box_btn .hover_btn_007_wrapper .hover_btn_007 {
  position: relative;
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  display: inline-block;
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  letter-spacing: 0.1em;
  color: #212529;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_007_wrapper .hover_btn_007:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

.box_btn .hover_btn_007_wrapper .hover_btn_007:hover::before {
  top: 0;
  left: 0;
}

.box_btn .hover_btn_007_wrapper .hover_btn_007::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box_btn .hover_btn_008 {
  margin: 3em 0;
  color: #fff;
  background-color: #094;
  border-bottom: 5px solid #00662d;
  font-size: 2rem;
  position: relative;
  padding: 1.5rem 3rem 1.5rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_008:hover {
  background: #00a349;
  margin-top: calc(3em + 3px);
  border-bottom: 2px solid #00662d;
}

.box_btn .hover_btn_008 .fa {
  margin-right: 1rem;
}

.box_btn .hover_btn_009_wrapper {
  margin: 3em 0;
  padding: 50px;
  background: #fa4141;
  text-align: center;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009 {
  position: relative;
  padding: 2rem 3rem;
  display: inline-block;
  background: #fff;
  line-height: 1.2;
  font-size: 1.8rem;
  color: #fa4141;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #fa4141;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009:hover i {
  width: 90%;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -9px;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  border: 2px dashed #fff;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009 .position_top {
  position: absolute;
  top: -1em;
  left: 1rem;
  width: 1rem;
  background: #fa4141;
  text-align: right;
  font-size: 1.2rem;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.box_btn .hover_btn_009_wrapper .hover_btn_009 .position_bottom {
  position: absolute;
  left: auto;
  right: 1rem;
  bottom: -1em;
  width: 1rem;
  background: #fa4141;
  text-align: right;
  font-size: 1.2rem;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.box_btn .hover_btn_009_wrapper .hover_btn_009 span {
  font-size: 4rem;
}

.box_btn .hover_btn_010 {
  margin: 3em 0;
  position: relative;
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  display: inline-block;
  background: #fff;
  text-align: center;
  line-height: 1.5;
  vertical-align: middle;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1.6rem;
  color: #212529;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box_btn .hover_btn_010:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

.box_btn .hover_btn_010:hover::before {
  top: 0;
  left: 0;
}

.box_btn .hover_btn_010::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box_btn .hover_btn_010_color {
  border-radius: 100vh;
}

.box_btn .hover_btn_010_color::before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #78e5e5;
  box-shadow: 3px 3px 0 #78e5e5;
}

.box_btn .hover_btn_011 {
  position: relative;
  margin: 3em auto;
  width: 184px;
  height: 48px;
  display: block;
  background: transparent;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 0.12em;
  line-height: 48px;
  font-family: "Oswald";
  font-size: 18px;
  color: #000;
  overflow: hidden;
}

@media (max-width: 750px) {
  .box_btn .hover_btn_011 {
    font-size: 16px;
  }
}

.box_btn .hover_btn_011::before {
  content: attr(data-hover) "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: 100%;
  letter-spacing: 0.12em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.box_btn .hover_btn_011:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

.box_btn .hover_btn_011:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}

.box_btn .hover_btn_011 div {
  transition: all 0.3s ease-in-out;
}

.box_btn .hover_btn_012 {
  position: relative;
  margin: 3em auto;
  margin-bottom: 32px;
  display: block;
  width: 376px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  line-height: 80px;
  outline: none;
  -webkit-perspective: 720px;
  perspective: 720px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1050px) {
  .box_btn .hover_btn_012 {
    margin-bottom: 24px;
    width: 240px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .box_btn .hover_btn_012 {
    margin-bottom: 16px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
}

.box_btn .hover_btn_012::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
}

.box_btn .hover_btn_012::after {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
}

.box_btn .hover_btn_012:hover span:nth-of-type(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.box_btn .hover_btn_012:hover span:nth-of-type(2) {
  background-color: #000;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.box_btn .hover_btn_012 span {
  position: absolute;
  width: 376px;
  height: 80px;
  display: block;
  border: 2px solid #000;
  text-align: center;
  line-height: 80px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
}

@media (max-width: 1050px) {
  .box_btn .hover_btn_012 span {
    width: 240px;
    height: 56px;
    line-height: 56px;
  }
}

@media (max-width: 750px) {
  .box_btn .hover_btn_012 span {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
}

.box_btn .hover_btn_012 span:nth-of-type(1) {
  background-color: #000;
  color: #fff;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -40px;
  -moz-transform-origin: 50% 50% -40px;
  transform-origin: 50% 50% -40px;
}

@media (max-width: 1050px) {
  .box_btn .hover_btn_012 span:nth-of-type(1) {
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
}

@media (max-width: 750px) {
  .box_btn .hover_btn_012 span:nth-of-type(1) {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
}

.box_btn .hover_btn_012 span:nth-of-type(2) {
  background-color: #fff;
  color: #000;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -40px;
  -moz-transform-origin: 50% 50% -40px;
  transform-origin: 50% 50% -40px;
}

@media (max-width: 1050px) {
  .box_btn .hover_btn_012 span:nth-of-type(2) {
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
}

@media (max-width: 750px) {
  .box_btn .hover_btn_012 span:nth-of-type(2) {
    width: 160px;
    height: 40px;
    line-height: 40px;
  }
}

.box_btn .hover_btn_013 {
  margin: 3em 0;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 0.6s ease all;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_btn .hover_btn_013:hover {
  background: #fff;
  color: #1aab8a;
}

.box_btn .hover_btn_013:hover::before {
  width: 100%;
  transition: 0.6s ease all;
}

.box_btn .hover_btn_013:hover::after {
  width: 100%;
  transition: 0.6s ease all;
}

.box_btn .hover_btn_013::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 0.4s ease all;
}

.box_btn .hover_btn_013::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 0.4s ease all;
  left: 0;
  bottom: 0;
}

.box_btn .hover_btn_014 {
  margin: 3em auto;
  position: relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
  display: block;
  background: tomato;
}

.box_btn .hover_btn_014 button {
  width: 100%;
  height: 80px;
  position: relative;
  background: rgba(255, 255, 255, 0.27);
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  font-size: 15px;
  outline: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}

.box_btn #hover_btn_014:hover span:nth-of-type(1) {
  animation: h 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(2) {
  animation: o 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(3) {
  animation: v 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(4) {
  animation: e 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(5) {
  animation: r 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(7) {
  animation: t 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(8) {
  animation: e 0.5s;
}

.box_btn #hover_btn_014:hover span:nth-of-type(9) {
  animation: n 0.5s;
}

.box_btn #hover_btn_014 span {
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  width: 8px;
  transition: all 0.5s ease-in-out;
}

.box_btn #hover_btn_014 span:nth-of-type(4) {
  width: 5px;
}

.box_btn #hover_btn_014 span:nth-of-type(6) {
  width: 1px;
}

.box_btn #hover_btn_014 span:nth-of-type(8) {
  width: 4px;
}

@keyframes h {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 5px);
  }
  75% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes o {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-4px, 0);
  }
  50% {
    transform: translate(3px, 4px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes v {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: rotate(360deg);
  }
  50% {
    transform: scale(2);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes e {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-10px, -2px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes r {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 10px);
  }
  80% {
    transform: translate(0, 32px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes t {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, -10px);
  }
  40% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, -10px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes n {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: skewY(50deg);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.box_btn .hover_btn_015 {
  margin: 3em auto;
  position: relative;
  display: block;
}

.box_btn .hover_btn_015:hover .border {
  width: 102%;
  height: 105%;
}

.box_btn .hover_btn_015 p {
  position: relative;
  padding: 1em 3em;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  border: none;
  font-size: 1em;
  color: #fff;
}

.box_btn .hover_btn_015 .border {
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 30px;
  height: 30px;
}

.box_btn .hover_btn_015 .border:nth-of-type(1) {
  top: 0;
  left: 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.box_btn .hover_btn_015 .border:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.box_btn .hover_btn_016 {
  margin: 3em auto;
  position: relative;
  display: block;
}

.box_btn .hover_btn_016:hover .border:nth-of-type(1) {
  width: 100%;
}

.box_btn .hover_btn_016:hover .border:nth-of-type(2) {
  height: 80px;
}

.box_btn .hover_btn_016:hover .border:nth-of-type(3) {
  width: 100%;
}

.box_btn .hover_btn_016:hover .border:nth-of-type(4) {
  height: 80px;
}

.box_btn .hover_btn_016 p {
  position: relative;
  padding: 1em 3em;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  border: none;
  font-size: 1em;
  color: #fff;
}

.box_btn .hover_btn_016 .border {
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.box_btn .hover_btn_016 .border:nth-of-type(1) {
  top: 0;
  left: 0;
  width: 0;
  border-top: 1px solid #000;
}

.box_btn .hover_btn_016 .border:nth-of-type(2) {
  top: 0;
  right: 0;
  height: 0;
  border-right: 1px solid #000;
}

.box_btn .hover_btn_016 .border:nth-of-type(3) {
  bottom: 0;
  right: 0;
  width: 0;
  border-bottom: 1px solid #000;
}

.box_btn .hover_btn_016 .border:nth-of-type(4) {
  bottom: 0;
  left: 0;
  height: 0;
  border-left: 1px solid #000;
}

.box_btn .hover_btn_017 {
  position: relative;
  margin: 3em auto;
  padding: 1em 3em;
  display: block;
  font-size: 1em;
  color: #000;
}

.box_btn .hover_btn_017:hover::before {
  width: 100%;
  height: 100%;
  border-bottom-color: #000;
  border-right-color: #000;
}

.box_btn .hover_btn_017:hover::after {
  width: 100%;
  height: 100%;
  border-top-color: #000;
  border-left-color: #000;
}

.box_btn .hover_btn_017::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 20%;
  display: block;
  border: 2px solid #000;
  border-radius: 2px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  transition: all 0.6s ease;
}

.box_btn .hover_btn_017::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 20%;
  display: block;
  border: 2px solid #000;
  border-radius: 2px;
  transition: all 0.6s ease;
  border-top-color: transparent;
  border-left-color: transparent;
}

.box_btn .hover_btn_018 {
  margin: 3em auto;
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px;
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.box_btn .hover_btn_018:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.box_btn .hover_btn_019 {
  margin: 3em auto;
  position: relative;
  padding: 1em 3em;
  color: #000;
}

.box_btn .hover_btn_019:hover::after {
  transform: translate(0);
}

.box_btn .hover_btn_019:hover::before {
  transform: translate(0);
}

.box_btn .hover_btn_019::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform 0.2s;
  transform: translate(-3px, -3px);
}

.box_btn .hover_btn_019::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform 0.2s;
  transform: translate(3px, 3px);
}

.box_btn .hover_btn_020 {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 3em auto;
  display: inline-block;
  padding: 1em 3em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: #eb1777;
  border-color: #eb1777;
}

.box_btn .hover_btn_020:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
  color: #fff;
  background-color: #eb1777;
  border-color: #eb1777;
}

.box_btn .hover_btn_020:hover::before {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
  border-color: #eb1777;
}

.box_btn .hover_btn_020:hover::after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
  border-color: #eb1777;
}

.box_btn .hover_btn_020::before {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
  border-color: #eb1777;
}

.box_btn .hover_btn_020::after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
  border-color: #eb1777;
}
