@charset "UTF-8";
body {
  /*----------------------------------------- 
  ヘッダー
  ------------------------------------------*/
  /*----------------------------------------- 
  メイン
  ------------------------------------------*/
  /*----------------------------------------- 
  フッター
  ------------------------------------------*/
}

body .wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  background: url(../img/first_view_background.png);
  overflow: hidden;
}

@media (max-width: 1050px) {
  body .wrapper {
    padding: 0 16px;
  }
}

body .wrapper .hdr {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  display: flex;
}

@media (max-width: 1050px) {
  body .wrapper .hdr {
    justify-content: center;
  }
}

@media (max-width: 750px) {
  body .wrapper .hdr {
    margin-bottom: 24px;
  }
}

body .wrapper .hdr h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .hdr h1 .logo {
  letter-spacing: 0.104em;
  font-family: "Oswald";
  font-size: 80px;
  color: #fff;
}

@media (max-width: 1050px) {
  body .wrapper .hdr h1 .logo {
    font-size: 64px;
  }
}

body .wrapper .hdr .nav_pc {
  margin: 0 auto;
}

@media (max-width: 1050px) {
  body .wrapper .hdr .nav_pc {
    display: none;
  }
}

body .wrapper .hdr .nav_pc ul {
  height: 100%;
  display: flex;
}

body .wrapper .hdr .nav_pc ul li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body .wrapper .hdr .nav_pc ul li a {
  position: relative;
  margin-left: 48px;
  padding: 0 2px 2px 2px;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
}

@media (max-width: 1250px) {
  body .wrapper .hdr .nav_pc ul li a {
    margin-left: 24px;
  }
}

body .wrapper .hdr .nav_pc ul li a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

body .wrapper .hdr .nav_pc ul li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

body .wrapper .hdr .nav_pc ul li:nth-of-type(1) a {
  margin-left: 0;
}

body .wrapper .hdr .tel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 1050px) {
  body .wrapper .hdr .tel {
    display: none;
  }
}

body .wrapper .hdr .tel span {
  margin-right: 32px;
  padding: 0 16px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #550707;
  letter-spacing: 0.032em;
  font-family: "Times New Roman";
  font-size: 28px;
  color: #fff;
}

body .wrapper .ham_btn {
  position: fixed;
  top: 60px;
  right: 16px;
  z-index: 999;
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
}

body .wrapper .ham_btn::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  cursor: auto;
}

@media (max-width: 1050px) {
  body .wrapper .ham_btn {
    display: block;
  }
}

@media (max-width: 500px) {
  body .wrapper .ham_btn {
    top: 24px;
    right: 24px;
    width: 50px;
    height: 50px;
  }
}

body .wrapper .ham_btn .inner {
  position: relative;
  height: 100%;
  transition: .4s;
}

body .wrapper .ham_btn .inner div {
  position: absolute;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: .4s;
}

body .wrapper .ham_btn .inner div:nth-of-type(1) {
  top: 0;
  bottom: 100%;
}

body .wrapper .ham_btn .inner div:nth-of-type(2) {
  top: 0;
  bottom: 0;
}

body .wrapper .ham_btn .inner div:nth-of-type(3) {
  top: 100%;
  bottom: 0;
}

body .wrapper .ham_btn_move::after {
  opacity: 0.6;
  visibility: inherit;
}

body .wrapper .ham_btn_move .inner {
  transform: rotate(-180deg);
}

body .wrapper .ham_btn_move .inner div:nth-of-type(1) {
  bottom: 0;
  transform: rotate(45deg);
}

body .wrapper .ham_btn_move .inner div:nth-of-type(2) {
  opacity: 0;
}

body .wrapper .ham_btn_move .inner div:nth-of-type(3) {
  top: 0;
  transform: rotate(-45deg);
}

body .wrapper .hdr_change {
  top: 0px;
  padding-top: 8px;
  padding-bottom: 16px;
  height: 72px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  background: rgba(28, 28, 28, 0.8);
  transition: 0.4s;
}

body .wrapper .hdr_change h1 .logo {
  font-size: 48px;
}

body .wrapper .hdr_change .nav_pc ul li {
  align-items: flex-end;
}

body .wrapper .hdr_change .nav_pc ul li a {
  display: block;
}

body .wrapper .hdr_change .tel span {
  margin-right: 32px;
  padding: 0 16px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #550707;
  letter-spacing: 0.032em;
  font-family: "Times New Roman";
  font-size: 24px;
  color: #fff;
}

body .wrapper .ham_btn_change {
  transition: .4s;
  top: 16px;
}

body .wrapper .nav_sp {
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  width: 300px;
  height: 100vh;
  background: #701b06;
  transition: 0.5s;
}

body .wrapper .nav_sp ul {
  padding-top: 16px;
}

body .wrapper .nav_sp ul li {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .wrapper .nav_sp ul li a {
  position: relative;
  padding: 0 8px 2px 8px;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
}

body .wrapper .nav_sp ul li a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

body .wrapper .nav_sp ul li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

body .wrapper .nav_sp ul li:nth-of-type(6) {
  margin-top: 16px;
  height: 56px;
  background: #550707;
  letter-spacing: 0.032em;
  font-family: "Times New Roman";
  font-size: 24px;
  color: #fff;
}

body .wrapper .nav_sp_display {
  left: 0;
}

body .wrapper .fv {
  position: relative;
  padding-top: 120px;
  max-width: 1144px;
}

body .wrapper .fv .scroll {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 1;
  padding-top: 56px;
  color: #fff;
  width: 48px;
  text-align: center;
}

@media (max-width: 1050px) {
  body .wrapper .fv .scroll {
    right: 0;
    bottom: -24px;
    margin-left: auto;
  }
}

body .wrapper .fv .scroll .animation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 56px;
  border: 2px solid #fff;
  border-radius: 50px;
}

body .wrapper .fv .scroll .animation::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

body .wrapper .fv .scroll .text {
  display: inline-block;
  letter-spacing: 0.1em;
  font-size: 10px;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body .wrapper .fv .image {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

body .wrapper .fv .image img {
  width: 100%;
  height: 576px;
  object-fit: cover;
}

@media (max-width: 1050px) {
  body .wrapper .fv .image img {
    height: 486px;
  }
}

@media (max-width: 750px) {
  body .wrapper .fv .image img {
    width: 100%;
    height: 400px;
  }
}

body .wrapper .fv .fv_ttl {
  position: absolute;
  bottom: 24px;
  right: -168px;
  z-index: 100;
  letter-spacing: 0.12em;
  font-family: "Oswald";
  font-size: 80px;
  color: #fff;
}

@media (max-width: 1350px) {
  body .wrapper .fv .fv_ttl {
    right: -104px;
  }
}

@media (max-width: 1250px) {
  body .wrapper .fv .fv_ttl {
    right: 16px;
  }
}

@media (max-width: 1050px) {
  body .wrapper .fv .fv_ttl {
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-top: -136px;
    margin-bottom: 40px;
    font-size: 64px;
    padding-left: 48px;
  }
}

body main {
  max-width: 1440px;
  margin: 0 auto;
  /*----------------------------------------- 
  サービス
  ------------------------------------------*/
  /*----------------------------------------- 
  ストアガイド
  ------------------------------------------*/
}

body main .service {
  position: relative;
  background-image: url(../img/contents_background.png);
}

body main .service .pasta {
  display: flex;
  flex-flow: row-reverse;
}

@media (max-width: 1050px) {
  body main .service .pasta {
    display: block;
  }
}

body main .service .pasta .pasta_cont {
  width: 100%;
}

body main .service .pasta .pasta_cont .image {
  margin-bottom: 72px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1250px) {
  body main .service .pasta .pasta_cont .image {
    margin-bottom: 56px;
  }
}

@media (max-width: 1050px) {
  body main .service .pasta .pasta_cont .image {
    padding-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .pasta_cont .image {
    margin-bottom: 24px;
  }
}

body main .service .pasta .pasta_cont .image img {
  width: 400px;
  height: 100%;
}

@media (max-width: 1250px) {
  body main .service .pasta .pasta_cont .image img {
    width: 320px;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .pasta_cont .image img {
    width: 200px;
  }
}

body main .service .pasta .pasta_cont .inner {
  padding: 0 88px;
}

@media (max-width: 1250px) {
  body main .service .pasta .pasta_cont .inner {
    padding: 0 56px;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .pasta_cont .inner {
    padding: 0 32px;
  }
}

body main .service .pasta .pasta_cont .inner h2 {
  margin-bottom: 56px;
  line-height: 1.5;
  letter-spacing: 0.024em;
  font-weight: bold;
  font-size: 24px;
  text-align: justify;
  text-justify: inter-ideograph;
}

@media (max-width: 1250px) {
  body main .service .pasta .pasta_cont .inner h2 {
    margin-bottom: 32px;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .pasta_cont .inner h2 {
    margin-bottom: 24px;
    font-size: 16px;
  }
}

body main .service .pasta .pasta_cont .inner p {
  line-height: 2;
  font-size: 16px;
}

@media (max-width: 1050px) {
  body main .service .pasta .pasta_cont .inner p {
    margin-bottom: 32px;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .pasta_cont .inner p {
    margin-bottom: 24px;
    padding: 0 16px;
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  body main .service .pasta .image {
    padding-right: 24px;
    width: 100%;
  }
}

body main .service .pasta .image img {
  width: 664px;
  height: 880px;
  object-fit: cover;
}

@media (max-width: 1050px) {
  body main .service .pasta .image img {
    width: 100%;
    height: 560px;
  }
}

@media (max-width: 750px) {
  body main .service .pasta .image img {
    height: 400px;
  }
}

@media (max-width: 1050px) {
  body main .service .menu {
    padding-top: 88px;
  }
}

@media (max-width: 750px) {
  body main .service .menu {
    padding-top: 64px;
  }
}

@media (max-width: 1050px) {
  body main .service .about {
    padding-top: 44px;
  }
}

@media (max-width: 750px) {
  body main .service .about {
    padding-top: 0px;
  }
}

body main .service .menu,
body main .service .about {
  position: relative;
  overflow: hidden;
}

@media (max-width: 1050px) {
  body main .service .menu,
  body main .service .about {
    display: block;
    background: #402121;
    width: calc(100% - 24px);
  }
}

body main .service .menu .image,
body main .service .about .image {
  position: absolute;
  top: 88px;
  right: 0;
  z-index: 1;
  text-align: right;
  width: 61.1%;
}

@media (max-width: 1250px) {
  body main .service .menu .image,
  body main .service .about .image {
    width: 58%;
  }
}

@media (max-width: 1050px) {
  body main .service .menu .image,
  body main .service .about .image {
    position: static;
    width: 100vw;
  }
}

body main .service .menu .image img,
body main .service .about .image img {
  width: 100%;
  height: 448px;
  object-fit: cover;
}

@media (max-width: 1050px) {
  body main .service .menu .image img,
  body main .service .about .image img {
    width: 100%;
    height: 320px;
  }
}

@media (max-width: 750px) {
  body main .service .menu .image img,
  body main .service .about .image img {
    height: 200px;
  }
}

body main .service .menu .inner,
body main .service .about .inner {
  padding: 184px 152px 168px 136px;
  width: 664px;
  height: 100%;
  background: #402121;
  color: #fff;
}

@media (max-width: 1050px) {
  body main .service .menu .inner,
  body main .service .about .inner {
    margin-right: 24px;
    padding: 40px 32px;
    width: 100%;
  }
}

body main .service .menu .inner h1,
body main .service .about .inner h1 {
  margin-bottom: 64px;
  letter-spacing: 0.104em;
  line-height: 1.5;
  font-family: "Oswald";
  font-size: 48px;
}

@media (max-width: 750px) {
  body main .service .menu .inner h1,
  body main .service .about .inner h1 {
    margin-bottom: 24px;
    font-size: 32px;
  }
}

body main .service .menu .inner p,
body main .service .about .inner p {
  margin-bottom: 40px;
  line-height: 1.5;
  font-size: 16px;
}

@media (max-width: 750px) {
  body main .service .menu .inner p,
  body main .service .about .inner p {
    margin-bottom: 24px;
    font-size: 12px;
  }
}

body main .service .menu .inner a,
body main .service .about .inner a {
  position: relative;
  margin: 0 auto;
  width: 184px;
  height: 48px;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  letter-spacing: 0.12em;
  line-height: 48px;
  font-family: "Oswald";
  font-size: 18px;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 750px) {
  body main .service .menu .inner a,
  body main .service .about .inner a {
    font-size: 16px;
  }
}

body main .service .menu .inner a::before,
body main .service .about .inner a::before {
  content: attr(data-hover) "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: 100%;
  letter-spacing: 0.12em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

body main .service .menu .inner a:hover::before,
body main .service .about .inner a:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

body main .service .menu .inner a:hover div,
body main .service .about .inner a:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}

body main .service .menu .inner a div,
body main .service .about .inner a div {
  transition: all 0.3s ease-in-out;
}

body main .news {
  padding: 120px 0;
  background-image: url(../img/news_background.png);
  overflow: hidden;
}

@media (max-width: 1050px) {
  body main .news {
    padding: 80px 0;
  }
}

@media (max-width: 750px) {
  body main .news {
    padding: 48px 0;
  }
}

body main .news h1 {
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.104em;
  line-height: 1.5;
  font-size: 48px;
  font-family: "Oswald";
  color: #fff;
}

@media (max-width: 750px) {
  body main .news h1 {
    margin-bottom: 32px;
    font-size: 32px;
  }
}

body main .news .news_wrapper {
  max-width: 1008px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  body main .news .news_wrapper {
    padding: 0 12px;
  }
}

body main .news .news_wrapper section a {
  margin: 0 12px;
  padding: 24px;
  display: block;
  background: #640f23;
  color: #fff;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a {
    margin: 0 4px;
    padding: 16px;
    font-size: 10px;
  }
}

body main .news .news_wrapper section a:hover .image img {
  transform: scale(1);
}

body main .news .news_wrapper section a .image {
  margin-bottom: 24px;
  overflow: hidden;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a .image {
    margin-bottom: 16px;
  }
}

body main .news .news_wrapper section a .image img {
  width: 100%;
  height: 208px;
  object-fit: cover;
  transform: scale(1.2);
  transition: 0.4s;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a .image img {
    height: 148px;
  }
}

@media (max-width: 400px) {
  body main .news .news_wrapper section a .image img {
    height: 88px;
  }
}

body main .news .news_wrapper section a span {
  letter-spacing: 0.128em;
  line-height: 2;
  font-size: 12px;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a span {
    font-size: 10px;
  }
}

body main .news .news_wrapper section a h2 {
  margin-bottom: 24px;
  line-height: 1.5;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a h2 {
    margin-bottom: 8px;
    font-size: 10px;
  }
}

body main .news .news_wrapper section a p {
  line-height: 1.5;
  font-size: 16px;
}

@media (max-width: 750px) {
  body main .news .news_wrapper section a p {
    font-size: 10px;
  }
}

body main .news .news_link {
  position: relative;
  margin: 0 auto;
  margin-top: 24px;
  width: 320px;
  height: 64px;
  display: none;
  background: #000;
  text-align: center;
  letter-spacing: 0.12em;
  line-height: 64px;
  font-family: "Oswald";
  font-size: 24px;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 750px) {
  body main .news .news_link {
    width: 184px;
    height: 48px;
    display: block;
    line-height: 48px;
    font-size: 16px;
  }
}

body main .news .news_link::before {
  content: attr(data-hover) "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  width: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

body main .news .news_link:hover::before {
  opacity: 1;
  transform: translate(0, 0);
}

body main .news .news_link:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}

body main .news .news_link div {
  transition: all 0.3s ease-in-out;
}

body main .store_guide {
  padding: 72px 0;
  background: #1c1c1c;
  color: #fff;
  overflow: hidden;
}

@media (max-width: 1050px) {
  body main .store_guide {
    padding: 72px 24px;
  }
}

@media (max-width: 750px) {
  body main .store_guide {
    padding: 48px 16px;
  }
}

body main .store_guide .store_guide_wrapper {
  margin: 0 auto;
  max-width: 1004px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper {
    display: block;
  }
}

body main .store_guide .store_guide_wrapper h1 {
  margin-bottom: 32px;
  display: none;
  text-align: center;
  letter-spacing: 0.104em;
  line-height: 1.5;
  font-family: "Oswald";
  font-size: 72px;
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper h1 {
    margin-bottom: 40px;
    display: block;
    font-size: 48px;
  }
}

body main .store_guide .store_guide_wrapper .image {
  margin-top: 16px;
  margin-left: 16px;
  height: 100%;
}

@media (max-width: 1050px) {
  body main .store_guide .store_guide_wrapper .image {
    margin-bottom: 40px;
    width: 100%;
  }
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper .image {
    margin-top: 0;
    margin-left: 0;
  }
}

body main .store_guide .store_guide_wrapper .image img {
  width: 472px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1050px) {
  body main .store_guide .store_guide_wrapper .image img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper .image img {
    height: 240px;
  }
}

body main .store_guide .store_guide_wrapper section {
  padding-left: 24px;
  width: 100%;
}

@media (max-width: 1050px) {
  body main .store_guide .store_guide_wrapper section {
    padding-left: 8px;
  }
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper section {
    padding-left: 0;
  }
}

body main .store_guide .store_guide_wrapper section h1 {
  margin-bottom: 32px;
  display: block;
  text-align: center;
  letter-spacing: 0.104em;
  line-height: 1.5;
  font-family: "Oswald";
  font-size: 72px;
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper section h1 {
    display: none;
  }
}

body main .store_guide .store_guide_wrapper section p {
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 0.096em;
  line-height: 1.5;
  font-size: 24px;
}

body main .store_guide .store_guide_wrapper section dl {
  letter-spacing: 0.05em;
  line-height: 2;
  font-size: 16px;
}

@media (max-width: 1050px) {
  body main .store_guide .store_guide_wrapper section dl {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper section dl {
    padding: 0 16px 0 32px;
    font-size: 12px;
  }
}

body main .store_guide .store_guide_wrapper section dl div {
  display: flex;
}

body main .store_guide .store_guide_wrapper section dl div dt {
  min-width: 80px;
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper section dl div dt {
    min-width: 48px;
  }
}

body main .store_guide .store_guide_wrapper section dl div span {
  margin-right: 8px;
  display: block;
}

@media (max-width: 750px) {
  body main .store_guide .store_guide_wrapper section dl div span {
    margin: 0 8px;
  }
}

body main .store_guide .store_guide_wrapper section dl div dd {
  display: block;
}

body .ftr_pc {
  background: #7b0018;
}

body .ftr_pc .ftr_nav {
  padding: 0 16px;
  height: 56px;
  background: #1c1c1c;
}

body .ftr_pc .ftr_nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
}

body .ftr_pc .ftr_nav ul li {
  margin-left: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  body .ftr_pc .ftr_nav ul li {
    margin-left: 32px;
  }
}

body .ftr_pc .ftr_nav ul li a {
  position: relative;
  letter-spacing: 0.05em;
  font-family: "Roboto";
  font-size: 16px;
  color: #fff;
}

@media (max-width: 750px) {
  body .ftr_pc .ftr_nav ul li a {
    font-size: 12px;
  }
}

body .ftr_pc .ftr_nav ul li a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@media (max-width: 750px) {
  body .ftr_pc .ftr_nav ul li a::after {
    height: 1px;
  }
}

body .ftr_pc .ftr_nav ul li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

body .ftr_pc .ftr_nav ul li:nth-of-type(1) {
  margin-left: 0;
}

body .ftr_pc small {
  padding: 24px 0;
  display: block;
  text-align: center;
  font-size: 11px;
  color: #fff;
}

/*--------------------------------------- 
  ページトップボタン
----------------------------------------*/
#page_top {
  position: fixed;
  z-index: 9999;
  right: 1%;
  bottom: -100px;
  width: 60px;
  height: 60px;
  background: #701b06;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
}

#page_top:hover {
  background: #a30600;
}

#page_top::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f106";
  font-size: 20px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page_top a {
  display: block;
}
