/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #EBF7FF;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #EBF7FF;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_parts_y_002
---------------------------------------------------------------------- */
.cont_parts_y_002 {
  padding: 100px 60px;
}

@media (max-width: 600px) {
  .cont_parts_y_002 {
    padding: 100px 40px;
  }
}

.cont_parts_y_002 .wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 1050px) {
  .cont_parts_y_002 .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cont_parts_y_002 .wrapper section {
  position: relative;
}

.cont_parts_y_002 .wrapper section:hover img {
  transition: .6s;
  transform: scale(1.1);
}

.cont_parts_y_002 .wrapper section:hover .btn {
  right: 20px;
}

@media (max-width: 600px) {
  .cont_parts_y_002 .wrapper section:hover .btn {
    right: 25px;
  }
}

.cont_parts_y_002 .wrapper section a {
  display: block;
}

.cont_parts_y_002 .wrapper section a .image {
  position: relative;
  z-index: 1;
  border-radius: 40px;
  overflow: hidden;
}

.cont_parts_y_002 .wrapper section a .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #333;
  opacity: .5;
}

.cont_parts_y_002 .wrapper section a .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: .6s;
}

.cont_parts_y_002 .wrapper section a header {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
  letter-spacing: .1em;
  color: #fff;
}

.cont_parts_y_002 .wrapper section a header h3 {
  line-height: 1.75;
  font-size: 32px;
}

@media (max-width: 600px) {
  .cont_parts_y_002 .wrapper section a header h3 {
    font-size: 20px;
  }
}

.cont_parts_y_002 .wrapper section a header span {
  font-size: 12px;
}

.cont_parts_y_002 .wrapper section a .btn {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 3;
  font-size: 18px;
  color: #fff;
  letter-spacing: .1em;
  transition: .6s;
  -webkit-transition: .6s;
}

@media (max-width: 600px) {
  .cont_parts_y_002 .wrapper section a .btn {
    top: 35px;
    font-size: 16px;
  }
}

.cont_parts_y_002 .wrapper section a .btn::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  width: 170px;
  height: 15px;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  transform: skew(45deg);
  transition: .6s;
  -webkit-transition: .6s;
}

@media (max-width: 600px) {
  .cont_parts_y_002 .wrapper section a .btn::after {
    left: -25px;
    width: 150px;
  }
}
