/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001{
  background: #EBF7FF;
  .wrapper{
    margin: 0 auto;
    padding: 40px;
    max-width: 1280px;
    display: grid;
    grid-template-columns:  calc(100% - 360px) 300px;
    gap:60px;
    @media (max-width:1050px) {
      display: block;
    }
    @media (max-width:500px) {
      padding: 20px;
    }
    @media (max-width:400px) {
      padding: 20px 10px;
    }
  }
}
.column_2_ptn_001.post_02{
  .wrapper{
    @media (max-width:850px) {
      padding: 0;
    }
  }
}
/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001{
  background: #EBF7FF;
  .wrapper{
    margin: 0 auto;
    padding: 40px 0;
    // max-width: 1200px;
    @media (max-width:1050px) {
      display: block;
    }
    @media (max-width:500px) {
      padding: 20px;
    }
    @media (max-width:400px) {
      padding: 20px 10px;
    }
  }
}
/* ----------------------------------------------------------------------
cont_ty_004
---------------------------------------------------------------------- */
.cont_ty_004{
  padding: 0 24px;
  padding-top: 100px;
  @media (max-width: 600px) {
    padding-top: 64px;
  }
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    max-width: 1000px;
    margin: 0 auto;
    gap: 24px;
    @media(max-width:1050px){
      grid-template-columns: repeat(1 , 1fr);
      gap: 50px;
    }
    section{
      position: relative;
      padding: 65px 35px 35px 35px;
      border: 1px solid #333;
      .number{
        position: absolute;
        padding: 0 10px 0 15px;
        top: -14%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 70px;
        background: #fff;
      }
      .inner{
        text-align: center;

        h2{
          margin-bottom: 35px;
          font-size: 24px;
        }
        p{
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 1.5;
        }
        a{
          margin: 0 auto;
          width: 200px;
          padding: 10px 20px;
          font-size: 16px;
          color: #333;
          display: block;
          background: linear-gradient(to right, #e66465 50%, #fff 50%);
          background-size: 200% 100.5%;
          background-position: right bottom;
          box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
          transition: all .3s ease-out;
          &:hover {
            background-position: left bottom;
            color: white;
          }
        }
      }
    }
  }
}