/*----------------------------------------- 
  top_price
  ------------------------------------------*/
.top_price {
  padding: 0 24px;
  padding-top: 100px;
  padding-bottom: 90px;
  background: #383838;
  color: #fff;
  @media (max-width: 768px) {
    padding-top: 64px;
    padding-bottom: 56px;
  }
  header {
    margin-bottom: 60px;
    text-align: center;
    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
    h1 {
      width: 640px;
      display: inline-block;
      font-size: 46px;
      padding-bottom: 25px;
      position: relative;
      line-height: 1.5;
      margin-bottom: 50px;
      @media (max-width: 768px) {
        width: 300px;
        position: relative;
        line-height: 1.5;
        font-size: 26px;
        padding-bottom: 20px;
        margin: 0 auto;
        margin-bottom: 24px;
      }
      &::before {
        content: "";
        position: absolute;
        right: 0;
        margin: auto;
        left: 0;
        bottom: 0;
        width: 118px;
        border-bottom: 3px solid #4822ff;
      }
      &::after {
        content: "";
        position: absolute;
        margin: auto;
        left: 40%;
        bottom: 0;
        width: 30px;
        border-bottom: 3px solid #c9c9c9;
        @media (max-width: 768px) {
          left: 30%;
        }
      }
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
  // ===== 表＿PC =====
  .pc {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 90px;
    @media (max-width: 950px) {
      display: none;
    }
    .outer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      ul {
        display: flex;
        max-width: calc(100% - 240px);
        li {
          width: calc(960px / 4);
          padding: 28px;
          padding-bottom: 22px;
          padding-left: 18px;
          padding-right: 26px;
          background: khaki;
          font-size: 20px;
          position: relative;
          @media (max-width: 1050px) {
            font-size: 18px;
            padding-right: 24px;
          }
          span {
            display: block;
            font-size: 15px;
            line-height: 1.26;
            margin-top: 12px;
            @media (max-width: 1050px) {
              font-size: 14px;
            }
          }
          &:nth-of-type(1) {
            background: #913460;
          }
          &:nth-of-type(2) {
            background: #899134;
            span {
              &:nth-of-type(2) {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translate(-50%);
                padding: 8px 18px;
                display: block;
                z-index: 10;
                margin-top: 0;
                background: #ff9900;
                font-size: 18px;
                font-weight: bold;
                @media (max-width: 1050px) {
                  font-size: 14px;
                }
              }
            }
          }
          &:nth-of-type(3) {
            background: #344e91;
          }
        }
      }
    }
    dl {
      color: #000;
      div {
        display: flex;
        height: 50px;
        dt {
          width: calc(100% / 4);
          padding-left: 40px;
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: bold;
        }
        dd {
          width: calc(100% / 4);
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.26;
          font-size: 15px;
        }
        &:nth-of-type(2n-1) {
          background: #fff;
        }
        &:nth-of-type(2n) {
          background: #f8f8f8;
        }
        // 独自ドメイン設定（divの2番目）
        &:nth-of-type(2) {
          dd {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              &::before {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
              }
            }
            &:nth-of-type(1) {
              &::before {
                border: 1px solid #ff5cb3;
              }
            }
            &:nth-of-type(2) {
              &::before {
                border: 1px solid #ff9900;
              }
            }
            &:nth-of-type(3) {
              &::before {
                border: 1px solid #5c88ff;
              }
            }
          }
        }
        // SSL化（divの3番目）
        &:nth-of-type(3) {
          dd {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              &::before {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
              }
            }
            &:nth-of-type(1) {
              &::before {
                border: 1px solid #ff5cb3;
              }
            }
            &:nth-of-type(2) {
              &::before {
                border: 1px solid #ff9900;
              }
            }
            &:nth-of-type(3) {
              &::before {
                border: 1px solid #5c88ff;
              }
            }
          }
        }
        // CMS機能（divの7番目）
        &:nth-of-type(7) {
          dd {
            &:nth-of-type(1) {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(45deg);
              }
              &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(-45deg);
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              &::before {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
              }
            }
            &:nth-of-type(2) {
              &::before {
                border: 1px solid #ff9900;
              }
            }
            &:nth-of-type(3) {
              &::before {
                border: 1px solid #5c88ff;
              }
            }
          }
        }
        // コンテンツ数（divの8番目）
        &:nth-of-type(8) {
          dd {
            &:nth-of-type(1) {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(45deg);
              }
              &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(-45deg);
              }
            }
          }
        }
        // コンテンツエディター（divの9番目）
        &:nth-of-type(9) {
          dd {
            &:nth-of-type(1) {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(45deg);
              }
              &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(-45deg);
              }
            }
          }
        }
        // サイト検索機能（divの10番目）
        &:nth-of-type(10) {
          dd {
            &:nth-of-type(1) {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(45deg);
              }
              &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background: #333;
                transform: rotate(-45deg);
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              &::before {
                content: "";
                width: 16px;
                height: 16px;
                border-radius: 50%;
              }
            }
            &:nth-of-type(2) {
              &::before {
                border: 1px solid #ff9900;
              }
            }
            &:nth-of-type(3) {
              &::before {
                border: 1px solid #5c88ff;
              }
            }
          }
        }
      }
    }
  }
  // ===== 表＿SP =====
  .sp {
    padding: 0 80px;
    margin-bottom: 90px;
    color: #000;
    display: none;
    @media (max-width: 950px) {
      display: block;
    }
    @media (max-width: 768px) {
      padding: 0;
      margin-bottom: 40px;
    }
    dl {
      background: tomato;
      .inner {
        h2 {
          padding-top: 28px;
          padding-bottom: 22px;
          padding-left: 18px;
          padding-right: 26px;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
          background: #f8f8f8;
          @media (max-width: 768px) {
            padding-top: 20px;
            padding-bottom: 18px;
            font-size: 18px;
          }
        }
        div {
          display: flex;
          height: 50px;
          background: #fff;
          @media (max-width: 768px) {
            height: 40px;
          }
          dt {
            color: #fff;
            width: calc(100% / 3);
            padding-left: 20px;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            @media (max-width: 768px) {
              width: calc(100% / 2);
              font-size: 14px;
            }
          }
          dd {
            width: calc(100% / 2);
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.26;
            font-size: 15px;
            @media (max-width: 768px) {
              font-size: 12px;
            }
          }
          &:nth-of-type(1) {
            dt {
              background: #913460;
            }
          }
          &:nth-of-type(2) {
            dt {
              background: #899134;
            }
            span {
              &:nth-of-type(2) {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translate(-50%);
                padding: 8px 18px;
                display: block;
                z-index: 10;
                margin-top: 0;
                background: #ff9900;
                font-size: 18px;
                font-weight: bold;
                @media (max-width: 1050px) {
                  font-size: 14px;
                }
              }
            }
          }
          &:nth-of-type(3) {
            dt {
              background: #344e91;
            }
          }
        }
        &:nth-of-type(2n-1) {
          background: #fff;
        }
        &:nth-of-type(2n) {
          background: #f8f8f8;
        }
        // 独自ドメイン設定（innerの2番目）
        &:nth-of-type(2) {
          div {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              dd {
                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
              }
              &:nth-of-type(1) {
                dd {
                  &::before {
                    border: 1px solid #ff5cb3;
                  }
                }
              }
              &:nth-of-type(2) {
                dd {
                  &::before {
                    border: 1px solid #ff9900;
                  }
                }
              }
              &:nth-of-type(3) {
                dd {
                  &::before {
                    border: 1px solid #5c88ff;
                  }
                }
              }
            }
          }
        }
        // SSL化（innerの3番目）
        &:nth-of-type(3) {
          div {
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
              dd {
                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
              }
              &:nth-of-type(1) {
                dd {
                  &::before {
                    border: 1px solid #ff5cb3;
                  }
                }
              }
              &:nth-of-type(2) {
                dd {
                  &::before {
                    border: 1px solid #ff9900;
                  }
                }
              }
              &:nth-of-type(3) {
                dd {
                  &::before {
                    border: 1px solid #5c88ff;
                  }
                }
              }
            }
          }
        }
        // CMS機能（innerの7番目）
        &:nth-of-type(7) {
          div {
            &:nth-of-type(1) {
              dd {
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(45deg);
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(-45deg);
                }
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              dd {
                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
              }
              &:nth-of-type(2) {
                dd {
                  &::before {
                    border: 1px solid #ff9900;
                  }
                }
              }
              &:nth-of-type(3) {
                dd {
                  &::before {
                    border: 1px solid #5c88ff;
                  }
                }
              }
            }
          }
        }
        // コンテンツ数（innerの8番目）
        &:nth-of-type(8) {
          div {
            &:nth-of-type(1) {
              dd {
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(45deg);
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
        // コンテンツエディター（innerの8番目）
        &:nth-of-type(9) {
          div {
            &:nth-of-type(1) {
              dd {
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(45deg);
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
        // サイト検索機能（innerの10番目）
        &:nth-of-type(10) {
          div {
            &:nth-of-type(1) {
              dd {
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(45deg);
                }
                &::after {
                  content: "";
                  position: absolute;
                  width: 16px;
                  height: 1px;
                  background: #333;
                  transform: rotate(-45deg);
                }
              }
            }
            &:nth-of-type(2),
            &:nth-of-type(3) {
              dd {
                &::before {
                  content: "";
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
              }
              &:nth-of-type(2) {
                dd {
                  &::before {
                    border: 1px solid #ff9900;
                  }
                }
              }
              &:nth-of-type(3) {
                dd {
                  &::before {
                    border: 1px solid #5c88ff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .free_consultation {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    a {
      position: relative;
      padding: 0;
      width: 567px;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(180deg, #0090ff 10%, #a008ff 100%);
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 30px;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 16px;
        height: 50px;
        height: 64px;
        width: 382px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 35px;
        margin: auto;
        width: 35px;
        height: 35px;
        border: 1px solid #fff;
        border-radius: 50%;
        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
          font-size: 1px;
          right: 16px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 45px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 0;
        border-left: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        @media (max-width: 768px) {
          border-left: 5px solid #fff;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          right: 23px;
        }
      }
    }
  }
}
