/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: calc(100% - 360px) 300px;
    gap: 60px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
.column_2_ptn_001.post_02 {
  .wrapper {
    @media (max-width: 850px) {
      padding: 0;
    }
  }
}
/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px 0;
    // max-width: 1200px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
/* ----------------------------------------------------------------------
cont_ty_005
---------------------------------------------------------------------- */
.cont_ty_005 {
  background: #ebebe2;
  padding: 0 24px;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 600px) {
    padding: 0;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  h2 {
    margin-bottom: 32px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    line-height: 1.5;
    span {
      display: block;
      font-size: 14px;
    }
  }
  .cont_ty_005_wrapper {
    margin: 0 auto;
    max-width: 1000px;
    background: #fff;
    padding: 32px 40px;
    display: block;
    border-radius: 50px;
    @media (max-width: 600px) {
      padding: 32px 0;
      border-radius: 0;
    }
    a {
      position: relative;
      display: block;
      color: #333;
      height: auto;
      .image {
        img {
          width: 100%;
          height: 160px;
          object-fit: cover;
        }
      }
      .category_name {
        position: absolute;
        bottom: 0;
        left: 0px;
        padding: 8px 16px;
        min-width: 100%;
        background: #0aa8c9;
        color: #fff;
        font-size: 12px;
        text-align: center;
        opacity: 0.9;
      }
    }
    // スライドの矢印
    .slick-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      background: none;
      font-size: 0;
      border: none;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-color: transparent transparent #333 #333;
        transform: rotate(45deg);
        transition: 0.3s;
        @media (max-width: 600px) {
          display: none !important;
        }
      }
      &:focus {
        outline: none;
      }
    }
    // スライドの矢印
    .slick-next {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 24px;
      background: none;
      font-size: 0;
      border: none;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-color: transparent #333 #333 transparent;
        transform: rotate(-45deg);
        transition: 0.3s;
        @media (max-width: 600px) {
          display: none !important;
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}
