/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
fv_ty_002
---------------------------------------------------------------------- */
.fv_ty_002 .wrapper {
  position: relative;
  width: 100%;
  height: 720px;
}

@media (max-width: 850px) {
  .fv_ty_002 .wrapper {
    height: 560px;
  }
}

.fv_ty_002 .wrapper .fv_slick {
  width: 100%;
}

.fv_ty_002 .wrapper .fv_slick .image {
  width: 100%;
  height: 100%;
}

.fv_ty_002 .wrapper .fv_slick .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fv_ty_002 .wrapper .inner_wrapper {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 1;
  padding: 0 56px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 600px) {
  .fv_ty_002 .wrapper .inner_wrapper {
    top: 50%;
    padding: 0 24px;
  }
}

.fv_ty_002 .wrapper .inner_wrapper .inner {
  margin: 0 auto;
  max-width: 1300px;
}

.fv_ty_002 .wrapper .inner_wrapper .inner .main_title {
  margin-bottom: 24px;
  display: block;
  line-height: 1.2;
  font-weight: bold;
  font-size: 40px;
  opacity: 0;
}

@media (max-width: 850px) {
  .fv_ty_002 .wrapper .inner_wrapper .inner .main_title {
    font-size: 24px;
  }
}

.fv_ty_002 .wrapper .inner_wrapper .inner .main_title span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.fv_ty_002 .wrapper .inner_wrapper .inner .main_text_01, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_02, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_03 {
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 16px;
}

@media (max-width: 850px) {
  .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_01, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_02, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_03 {
    font-size: 14px;
  }
}

.fv_ty_002 .wrapper .inner_wrapper .inner .main_text_01 span, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_02 span, .fv_ty_002 .wrapper .inner_wrapper .inner .main_text_03 span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
