/*----------------------------------------- 
  main
  ------------------------------------------*/
main {
  /*----------------------------------------- 
  top_flow
  ------------------------------------------*/
  .top_flow {
    padding: 0 24px;
    padding-top: 100px;
    padding-bottom: 90px;
    background: #222222;
    color: #fff;
    @media (max-width: 768px) {
      padding-top: 64px;
      padding-bottom: 56px;
    }
    header {
      margin-bottom: 60px;
      text-align: center;
      @media (max-width: 768px) {
        margin-bottom: 32px;
      }
      h1 {
        width: 640px;
        display: inline-block;
        font-size: 46px;
        padding-bottom: 25px;
        position: relative;
        line-height: 1.5;
        margin-bottom: 50px;
        @media (max-width: 768px) {
          width: 300px;
          position: relative;
          line-height: 1.5;
          font-size: 26px;
          padding-bottom: 20px;
          margin: 0 auto;
          margin-bottom: 24px;
        }
        &::before {
          content: "";
          position: absolute;
          right: 0;
          margin: auto;
          left: 0;
          bottom: 0;
          width: 118px;
          border-bottom: 3px solid #4822ff;
        }
        &::after {
          content: "";
          position: absolute;
          margin: auto;
          left: 40%;
          bottom: 0;
          width: 30px;
          border-bottom: 3px solid #c9c9c9;
          @media (max-width: 768px) {
            left: 30%;
          }
        }
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
    section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      max-width: 960px;
      margin: 0 auto;
      gap: 15px;
      .inner {
        border-radius: 30px;
        display: flex;
        @media (max-width: 768px) {
          display: block;
        }
        h2 {
          // min-height: 123px;
          min-width: 154px;
          padding-top: 28px;
          padding-bottom: 20px;
          font-size: 46px;
          text-align: center;
          border-radius: 10px 0 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media (max-width: 768px) {
            padding-top: 20px;
            padding-bottom: 16px;
            font-size: 20px;
            // min-width: 108px;
            border-radius: 10px 10px 0 0;
          }
          span {
            display: block;
            margin-top: 18px;
            font-size: 18px;
            @media (max-width: 768px) {
              margin-top: 10px;
              font-size: 14px;
            }
          }
        }
        p {
          width: calc(100% - 154px);
          padding-right: 38px;
          padding-left: 30px;
          font-size: 16px;
          line-height: 1.5;
          color: #000;
          display: flex;
          align-items: center;
          background: #fff;
          border-radius: 0 10px 10px 0;
          @media (max-width: 768px) {
            font-size: 14px;
            width: 100%;
            padding: 10px 0;
            padding-right: 20px;
            padding-left: 18px;
            border-radius: 0 0 10px 10px;
          }
        }
        &:nth-of-type(1) {
          h2 {
            background: #22325e;
          }
        }
        &:nth-of-type(2) {
          h2 {
            background: #225e54;
          }
        }
        &:nth-of-type(3) {
          h2 {
            background: #585e22;
          }
        }
        &:nth-of-type(4) {
          h2 {
            background: #5e2242;
          }
        }
        &:nth-of-type(5) {
          h2 {
            background: #5e222a;
          }
        }
      }
    }
  }
}
