/*----------------------------------------- 
  main
  ------------------------------------------*/
main {
  /*----------------------------------------- 
  top_flow
  ------------------------------------------*/
}

main .top_flow {
  padding: 0 24px;
  padding-top: 100px;
  padding-bottom: 90px;
  background: #222222;
  color: #fff;
}

@media (max-width: 768px) {
  main .top_flow {
    padding-top: 64px;
    padding-bottom: 56px;
  }
}

main .top_flow header {
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  main .top_flow header {
    margin-bottom: 32px;
  }
}

main .top_flow header h1 {
  width: 640px;
  display: inline-block;
  font-size: 46px;
  padding-bottom: 25px;
  position: relative;
  line-height: 1.5;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  main .top_flow header h1 {
    width: 300px;
    position: relative;
    line-height: 1.5;
    font-size: 26px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

main .top_flow header h1::before {
  content: "";
  position: absolute;
  right: 0;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 118px;
  border-bottom: 3px solid #4822ff;
}

main .top_flow header h1::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 40%;
  bottom: 0;
  width: 30px;
  border-bottom: 3px solid #c9c9c9;
}

@media (max-width: 768px) {
  main .top_flow header h1::after {
    left: 30%;
  }
}

main .top_flow header p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 768px) {
  main .top_flow header p {
    font-size: 14px;
  }
}

main .top_flow section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 960px;
  margin: 0 auto;
  gap: 15px;
}

main .top_flow section .inner {
  border-radius: 30px;
  display: flex;
}

@media (max-width: 768px) {
  main .top_flow section .inner {
    display: block;
  }
}

main .top_flow section .inner h2 {
  min-width: 154px;
  padding-top: 28px;
  padding-bottom: 20px;
  font-size: 46px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  main .top_flow section .inner h2 {
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
  }
}

main .top_flow section .inner h2 span {
  display: block;
  margin-top: 18px;
  font-size: 18px;
}

@media (max-width: 768px) {
  main .top_flow section .inner h2 span {
    margin-top: 10px;
    font-size: 14px;
  }
}

main .top_flow section .inner p {
  width: calc(100% - 154px);
  padding-right: 38px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 768px) {
  main .top_flow section .inner p {
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    padding-right: 20px;
    padding-left: 18px;
    border-radius: 0 0 10px 10px;
  }
}

main .top_flow section .inner:nth-of-type(1) h2 {
  background: #22325e;
}

main .top_flow section .inner:nth-of-type(2) h2 {
  background: #225e54;
}

main .top_flow section .inner:nth-of-type(3) h2 {
  background: #585e22;
}

main .top_flow section .inner:nth-of-type(4) h2 {
  background: #5e2242;
}

main .top_flow section .inner:nth-of-type(5) h2 {
  background: #5e222a;
}
