/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
cont_parts_y_009
---------------------------------------------------------------------- */
.cont_parts_y_009 {
  padding: 100px 0;
}

.cont_parts_y_009 section {
  display: flex;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section {
    display: block;
  }
}

.cont_parts_y_009 section a {
  position: relative;
  width: 50%;
  display: block;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section a {
    width: 100%;
  }
}

.cont_parts_y_009 section a:hover h3 {
  opacity: 0;
}

.cont_parts_y_009 section a:hover p {
  opacity: 1;
}

.cont_parts_y_009 section a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
}

.cont_parts_y_009 section a .image {
  width: 100%;
  height: 100%;
}

.cont_parts_y_009 section a .image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section a .image img {
    height: 360px;
  }
}

.cont_parts_y_009 section a h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 30px;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 22px;
  color: #fff;
  transition: all 0.7s ease-in-out 0.4s;
  -webkit-transition: all 0.7s ease-in-out 0.4s;
  opacity: 1;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section a h3 {
    padding: 30px 20px;
    font-size: 18px;
  }
}

.cont_parts_y_009 section a p {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 30px;
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 22px;
  color: #fff;
  transition: all 0.7s ease-in-out 0s;
  -webkit-transition: all 0.7s ease-in-out 0s;
  opacity: 0;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section a p {
    padding: 30px 20px;
    font-size: 18px;
  }
}

.cont_parts_y_009 section .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 130px;
}

@media (max-width: 1050px) {
  .cont_parts_y_009 section .cont {
    padding: 0 50px;
  }
}

@media (max-width: 800px) {
  .cont_parts_y_009 section .cont {
    padding: 80px 50px;
    width: 100%;
  }
}

.cont_parts_y_009 section .cont .inner h4 {
  line-height: 1.5em;
  font-size: 28px;
}

@media (max-width: 800px) {
  .cont_parts_y_009 section .cont .inner h4 {
    font-size: 18px;
  }
}

.cont_parts_y_009 section .cont .inner p {
  margin-top: 30px;
  display: block;
  line-height: 2em;
  font-size: 16px;
}

@media (max-width: 1050px) {
  .cont_parts_y_009 section .cont .inner p {
    margin-top: 22px;
  }
}

@media (max-width: 800px) {
  .cont_parts_y_009 section .cont .inner p {
    margin-top: 10px;
    font-size: 14px;
  }
}

.cont_parts_y_009 section:nth-of-type(2n) {
  flex-direction: row-reverse;
}
