/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 1280px;
    display: grid;
    grid-template-columns: calc(100% - 360px) 300px;
    gap: 60px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
.column_2_ptn_001.post_02 {
  .wrapper {
    @media (max-width: 850px) {
      padding: 0;
    }
  }
}
/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
  .wrapper {
    margin: 0 auto;
    padding: 40px 0;
    // max-width: 1200px;
    @media (max-width: 1050px) {
      display: block;
    }
    @media (max-width: 500px) {
      padding: 20px;
    }
    @media (max-width: 400px) {
      padding: 20px 10px;
    }
  }
}
/* ----------------------------------------------------------------------
QandA_parts_y_001
---------------------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
}
.QandA_parts_y_001 {
  .conts {
    margin: 120px auto 0 auto;
    width: 1000px;
    @media (max-width: 1250px) {
      padding: 0 100px;
      width: 100%;
    }
    @media (max-width: 950px) {
      padding: 0 50px;
    }
    @media (max-width: 750px) {
      padding: 0 20px;
    }
    /*----------------------------------------- 
        list
        ・矢印の向きのJavaScript変更方法。
        　下矢印はhtmlでfontawesome
        　上矢印はcssのbeforeにfontawesomeを読み込み
        ------------------------------------------*/
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      cursor: pointer;
      @media (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .list_01 {
        margin: 0 -1px -1px 0;
        background: #ebf6fb;
        border: 1px solid #ddd;
        &:hover {
          background: #ebf6fb;
        }
        p {
          height: 50px;
          text-align: center;
          line-height: 52px;
        }
      }
      .list_bg {
        background: #ebf6fb;
      }
      .list_bg_none {
        background: none;
      }
      .list_02 {
        margin: 0 -1px -1px 0;
        border: 1px solid #ddd;
        &:hover {
          background: #ebf6fb;
        }
        p {
          height: 50px;
          text-align: center;
          line-height: 52px;
        }
      }
      .list_bg {
        background: #ebf6fb;
      }
      .list_03 {
        margin: 0 -1px -1px 0;
        border: 1px solid #ddd;
        &:hover {
          background: #ebf6fb;
        }
        p {
          height: 50px;
          text-align: center;
          line-height: 52px;
        }
      }
      .list_bg {
        background: #ebf6fb;
      }
      .list_04 {
        margin: 0 -1px -1px 0;
        border: 1px solid #ddd;
        &:hover {
          background: #ebf6fb;
        }
        p {
          height: 50px;
          text-align: center;
          line-height: 52px;
        }
      }
    }
    /*----------------------------------------- 
        cont_01
        ------------------------------------------*/
    .cont_01 {
      margin: 120px auto 120px auto;
      max-width: 1000px;
      display: block;
      border: 1px solid #ddd;
      .question_011 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_011 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 16px;
          display: block;
          color: #00a7ce;
        }
        .chevron_up_011 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_011 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_012 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_012 {
          position: absolute;
          top: 50%;
          right: 20px;
          display: block;
          transform: translateY(-50%);
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_012 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_012 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_013 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            font-size: 20px;
            display: block;
            background: #fff;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_013 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 16px;
          display: block;
          color: #00a7ce;
        }
        .chevron_up_013 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_013 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_014 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            font-size: 20px;
            display: block;
            background: #fff;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_014 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_014 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_014 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_015 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_015 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_015 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_015 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_016 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_016 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_016 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_016 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_017 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_017 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_017 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_017 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_018 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_018 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_018 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_018 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_019 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_019 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 16px;
          display: block;
          color: #00a7ce;
        }
        .chevron_up_019 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_019 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_110 {
        position: relative;
        margin-bottom: -1px;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            text-align: center;
            border-radius: 10%;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_110 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_110 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_110 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
    }
    /*----------------------------------------- 
        cont_02
        ------------------------------------------*/
    .cont_02 {
      margin: 120px auto 120px auto;
      max-width: 1000px;
      display: none;
      border: 1px solid #ddd;
      .question_021 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_021 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_021 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_021 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_022 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_022 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_022 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_022 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_023 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_023 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_023 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_023 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_024 {
        position: relative;
        margin-bottom: -1px;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_024 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_024 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_024 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
    }
    /*----------------------------------------- 
        cont_03
        ------------------------------------------*/
    .cont_03 {
      margin: 120px auto 120px auto;
      max-width: 1000px;
      border: 1px solid #ddd;
      display: none;
      .question_031 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_031 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_031 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_031 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_032 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_032 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_032 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_032 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_033 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_033 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_033 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_033 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_034 {
        position: relative;
        margin-bottom: -1px;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_034 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 16px;
          display: block;
          color: #00a7ce;
        }
        .chevron_up_034 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_034 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
    }
    /*----------------------------------------- 
        cont_04
        ------------------------------------------*/
    .cont_04 {
      margin: 120px auto 120px auto;
      max-width: 1000px;
      border: 1px solid #ddd;
      display: none;
      .question_041 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_041 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_041 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_041 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_042 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_042 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_042 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_042 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_043 {
        position: relative;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_043 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          display: block;
          font-size: 16px;
          color: #00a7ce;
        }
        .chevron_up_043 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_043 {
        display: none;
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
      .question_044 {
        position: relative;
        margin-bottom: -1px;
        border-bottom: 1px solid #ddd;
        transition: 1s;
        cursor: pointer;
        p {
          padding: 23px 60px 19px 66px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          transition: 0.2s;
          &::before {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: block;
            background: #fff;
            font-size: 20px;
            color: #00a7ce;
            font-family: "Font Awesome 5 Free";
            content: "\f059";
            font-weight: 900;
            @media (max-width: 950px) {
              left: 18px;
              font-size: 25px;
            }
          }
          &:hover {
            color: #00a7ce;
          }
          @media (max-width: 950px) {
            padding: 18px 50px 14px 60px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
        .chevron_down_044 {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translateY(-50%);
          font-size: 16px;
          display: block;
          color: #00a7ce;
        }
        .chevron_up_044 {
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f077";
            font-weight: 900;
          }
        }
      }
      .answer_044 {
        background: #f1fafc;
        border-bottom: 1px solid #ddd;
        display: none;
        &:last-of-type {
          border-bottom: none;
        }
        p {
          padding: 30px 65px 25px 65px;
          width: 100%;
          display: inline-block;
          line-height: 2.2em;
          font-size: 16px;
          color: #000;
          @media (max-width: 950px) {
            padding: 20px 30px;
          }
          @media (max-width: 750px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
