/* ----------------------------------------------------------------------
column_2_ptn_001
---------------------------------------------------------------------- */
.column_2_ptn_001 {
  background: #ebf7ff;
}

.column_2_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 1280px;
  display: grid;
  grid-template-columns: calc(100% - 360px) 300px;
  gap: 60px;
}

@media (max-width: 1050px) {
  .column_2_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_2_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

@media (max-width: 850px) {
  .column_2_ptn_001.post_02 .wrapper {
    padding: 0;
  }
}

/* ----------------------------------------------------------------------
column_1_ptn_001
---------------------------------------------------------------------- */
.column_1_ptn_001 {
  background: #ebf7ff;
}

.column_1_ptn_001 .wrapper {
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 1050px) {
  .column_1_ptn_001 .wrapper {
    display: block;
  }
}

@media (max-width: 500px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .column_1_ptn_001 .wrapper {
    padding: 20px 10px;
  }
}

/* ----------------------------------------------------------------------
contact_ty_001
---------------------------------------------------------------------- */
.contact_ty_001 {
  padding: 100px 24px;
  background: #3e3a37;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 600px) {
  .contact_ty_001 {
    padding: 64px 24px;
  }
}

.contact_ty_001 h2 {
  text-align: center;
  line-height: 1.5;
  font-size: 32px;
}

@media (max-width: 600px) {
  .contact_ty_001 h2 {
    font-size: 24px;
  }
}

.contact_ty_001 span {
  margin-top: 8px;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #9f9d9b;
}

@media (max-width: 600px) {
  .contact_ty_001 span {
    font-size: 12px;
  }
}

.contact_ty_001 .contact_wrapper {
  margin: 32px auto 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (max-width: 600px) {
  .contact_ty_001 .contact_wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.contact_ty_001 .contact_wrapper section {
  margin: 0 auto;
  max-width: 1200px;
}

.contact_ty_001 .contact_wrapper section .left_cont,
.contact_ty_001 .contact_wrapper section .right_cont {
  position: relative;
  display: block;
  color: #fff;
  transition: .3s;
}

.contact_ty_001 .contact_wrapper section .left_cont:hover,
.contact_ty_001 .contact_wrapper section .right_cont:hover {
  background: #333;
}

.contact_ty_001 .contact_wrapper section .left_cont::after,
.contact_ty_001 .contact_wrapper section .right_cont::after {
  content: "1";
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 32px;
  color: #9f9d9b;
}

.contact_ty_001 .contact_wrapper section .left_cont .inner,
.contact_ty_001 .contact_wrapper section .right_cont .inner {
  padding: 80px 16px 24px 16px;
  border: 1px solid #fff;
  text-align: center;
}

.contact_ty_001 .contact_wrapper section .left_cont .inner h3,
.contact_ty_001 .contact_wrapper section .right_cont .inner h3 {
  line-height: 1.5;
  font-size: 18px;
}

.contact_ty_001 .contact_wrapper section .left_cont .inner p,
.contact_ty_001 .contact_wrapper section .right_cont .inner p {
  line-height: 2;
  font-size: 14px;
}

.contact_ty_001 .contact_wrapper section .left_cont span,
.contact_ty_001 .contact_wrapper section .right_cont span {
  margin: -1px 0 0 0;
  padding: 16px;
  display: block;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
}

.contact_ty_001 .contact_wrapper section .right_cont::after {
  content: "2";
}

.contact_ty_001 .contact_tel {
  text-align: center;
}

.contact_ty_001 .contact_tel p {
  margin-bottom: 8px;
  line-height: 1.5;
  font-size: 14px;
}

.contact_ty_001 .contact_tel p:nth-of-type(1) {
  margin-top: 56px;
  font-weight: normal;
}

.contact_ty_001 .contact_tel p:nth-of-type(2) {
  font-size: 40px;
}

.contact_ty_001 .contact_tel p:nth-of-type(3) {
  font-weight: normal;
}
